!app/cache/.gitkeep
!app/logs/.gitkeep
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/nbproject
/app/config/parameters.yml
composer.lock
*.php~
TextMate2
.buildpath
.project
.settings
nbproject
.idea
.tm_properties
